/* Matugen-generated Rofi colors */
* {
  bg-col: #140c0d;
  bg-col-light: #22191a;
  border-col: #9f8c8e;
  selected-col: #261d1e;
  green: #e5bdc2;
  fg-col: #f0dee0;
  fg-col2: #d6c2c3;
  grey: #9f8c8e;
  highlight: #ffb2be;
}
