/* Matugen-generated Rofi colors */
* {
  bg-col: #090f11;
  bg-col-light: #171c1e;
  border-col: #899296;
  selected-col: #1b2022;
  green: #b2cad3;
  fg-col: #dee3e6;
  fg-col2: #bfc8cb;
  grey: #899296;
  highlight: #85d1e8;
}
