/* Matugen-generated Rofi colors */
* {
  bg-col: #0a0f0c;
  bg-col-light: #181d19;
  border-col: #8a938b;
  selected-col: #1c211d;
  green: #b5ccba;
  fg-col: #dfe4dd;
  fg-col2: #c0c9c0;
  grey: #8a938b;
  highlight: #93d5a9;
}
