[color]
background = '{{colors.surface_container_lowest.default.hex}}'
foreground = '{{colors.primary.default.hex}}'

gradient = 1
gradient_count = 6
gradient_color_1 = '{{colors.primary.default.hex}}'
gradient_color_2 = '{{colors.secondary.default.hex}}'
gradient_color_3 = '{{colors.tertiary.default.hex}}'
gradient_color_4 = '{{colors.error.default.hex}}'
gradient_color_5 = '{{colors.primary_container.default.hex}}'
gradient_color_6 = '{{colors.secondary_container.default.hex}}'
