[Desktop Entry]
Name=Godot Engine
Comment=Godot game engine editor
Exec={{ godot_install_dir }}/{{ godot_binary_name }}
Terminal=false
Type=Application
Categories=Development;IDE;Game;
Keywords=godot;game;engine;editor;
