[Desktop Entry]
Name=Arduino IDE
Comment=Open-source electronics platform
Exec={{ arduino_install_dir|default('/opt/arduino') }}/arduino
Icon={{ arduino_install_dir|default('/opt/arduino') }}/lib/arduino_icon.ico
Terminal=false
Type=Application
Categories=Development;IDE;Electronics;