[Desktop Entry]
Name=Arduino IDE 2
Comment=Open-source electronics platform
Exec={{ arduino_install_dir|default('/opt/arduino') }}/arduino-ide %F
Icon={{ arduino_install_dir|default('/opt/arduino') }}/arduino-ide
Terminal=false
Type=Application
Categories=Development;IDE;Electronics;
StartupWMClass=Arduino IDE
MimeType=text/x-arduino;
Keywords=embedded electronics;electronics;avr;microcontroller;