---
- name: Run Ubuntu Tasks
  ansible.builtin.import_tasks: ubuntu.yml
  when: ansible_os_family == 'Debian'

  
- name: Run Darwin Tasks
  ansible.builtin.import_tasks: Darwin.yml
  when: ansible_os_family == 'Darwin'

- name: Install Packages
  import_tasks: packages.yml
