[Desktop Entry]
Name=Unreal Engine
Comment=Unreal Engine Editor
Exec=/opt/UnrealEngine/Engine/Binaries/Linux/UnrealEditor
Icon=/opt/UnrealEngine/Engine/Content/Slate/Icons/UE4Icon.png
Terminal=false
Type=Application
Categories=Development;Game;
