---
- name: Run Ubuntu Tasks
  ansible.builtin.import_tasks: ubuntu.yml
  when: ansible_os_family == 'Debian'

- name: Run Darwin Tasks
  ansible.builtin.import_tasks: Darwin.yml
  when: ansible_os_family == 'Darwin'

- name: "bat | Config folder"
  ansible.builtin.file:
    mode: "0755"
    path: "{{ ansible_user_dir }}/.config/bat"
    state: directory

- name: "bat | Create symlink to role files directory"
  ansible.builtin.file:
    src: "{{ role_path }}/files/bat"
    dest: "{{ ansible_user_dir }}/.config/bat"
    state: link
    force: true